body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    background-color: #83868C;
    
}

#cardWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    background-color: #B6B6B8;
}

#cardsId {
    background-color: whitesmoke;
}