body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#cardWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 25px;
}